//Style pour le footer
// footer{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: row;
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     background-color: black;
//     color: white;
//     margin-left: 0;

    
//     p{
//         margin-top:0px;
//         margin-bottom: 0px;
//     }
// }

.site-footer{
    background-color: black;
    position: relative;
    top: 100px;
    width: 100vw;
    color: white;
    
    .site-info{
        display: flex;
        flex-direction:row ;
        padding: 20px;
        justify-content: space-evenly;
    }
}